doctype html
html(lang="en")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/boostrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/boostrap/css/bootstrap-theme.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='/stylesheets/boostrap/js/bootstrap.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body!= body